.bg-recpool {
  background-color:$recpool;
}
.bg-tahoe {
  background-color: $tahoe;
}
.bg-gunrock {
  background-color: $gunrock;
}
.bg-bodega {
  background-color:$bodega;
}
.bg-rain {
  background-color: $rain;
}
.bg-arboretum {
  background-color: $arboretum;
}
.bg-putahcreek {
  background-color: $putahcreek;
}
.bg-delta {
  background-color: $delta;
}
.bg-farm {
  background-color: $farmersmarket;
}
.bg-sage {
  background-color: $sage;
}
.bg-quad {
  background-color: $quad;
}
.bg-redwood {
  background-color: $redwood;
}
.bg-goldenstate {
  background-color: $goldenstate;
}
.bg-sunflower {
  background-color: $sunflower;
}
.bg-poppy {
  background-color: $poppy;
}
.bg-california {
  background-color: $california;
}
.bg-rose {
  background-color: $rose;
}
.bg-strawberry {
  background-color: $strawberry;
}
.bg-doubledecker {
  background-color: $doubledecker;
}
.bg-merlot {
  background-color: $merlot;
}
.bg-thiebauldicing {
  background-color: $thiebauldicing;
}
.bg-redbud {
  background-color: $redbud;
}
.bg-pinot {
  background-color: $pinot;
}
.bg-cabernet {
  background-color: $cabernet;
}
.recpool {
  color:$recpool;
}
.tahoe {
  color: $tahoe;
}
.gunrock {
  color: $gunrock;
}
.bodega {
  color:$bodega;
}
.rain {
  color: $rain;
}
.arboretum {
  color: $arboretum;
}
.putahcreek {
  color: $putahcreek;
}
.delta {
  color: $delta;
}
.farm {
  color: $farmersmarket;
}
.sage {
  color: $sage;
}
.quad {
  color: $quad;
}
.redwood {
  color: $redwood;
}
.goldenstate {
  color: $goldenstate;
}
.sunflower {
  color: $sunflower;
}
.poppy {
  color: $poppy;
}
.california {
  color: $california;
}
.rose {
  color: $rose;
}
.strawberry {
  color: $strawberry;
}
.doubledecker {
  color: $doubledecker;
}
.merlot {
  color: $merlot;
}
.thiebauldicing {
  color: $thiebauldicing;
}
.redbud {
  color: $redbud;
}
.pinot {
  color: $pinot;
}
.cabernet {
  color: $cabernet;
}
