.bg-recpool {
  background-color:$recpool;
}
.recpool {
  color:$recpool;
}
.btn-primary {
  background-color:$primary-color;
  border-color:$primary-color;
  &:hover {
    background: darken($primary-color, 5);
    border-color:darken($primary-color, 5);
  }
  &:focus, &.focus {
    background: darken($primary-color, 5);
    border-color:darken($primary-color, 5);
    box-shadow: 0 0 0 0.2rem rgba(67, 176, 42, 0.5);
  }
}
.btn-secondary {

}
.btn-success {
  background-color:$quad;
  border-color:$quad;
  &:hover {
    background: darken($quad, 5);
    border-color:darken($quad, 5);
  }
  &:focus, &.focus {
    background: darken($quad, 5);
    border-color:darken($quad, 5);
    box-shadow: 0 0 0 0.2rem rgba(67, 176, 42, 0.5);
  }
}
.btn-danger {
  background-color:$doubledecker;
  border-color:$doubledecker;
  &:hover {
    background: darken($doubledecker, 5);
    border-color:darken($doubledecker, 5);
  }
  &:focus, &.focus {
    background: darken($doubledecker, 5);
    border-color:darken($doubledecker, 5);
    box-shadow: 0 0 0 0.2rem rgba(186, 12, 47, 0.5)
  }
}
.btn-info {
  background-color:$recpool;
  border-color:$recpool;
  &:hover {
    background: darken($recpool, 5);
    border-color:darken($recpool, 5);
  }
  &:focus, &.focus {
    background: darken($recpool, 5);
    border-color:darken($recpool, 5);
    box-shadow: 0 0 0 0.2rem rgba(116, 209, 234, 0.5)
  }
}
.btn-warning {
  background-color:$sunflower;
  border-color:$sunflower;
  &:hover {
    background: darken($sunflower, 5);
    border-color:darken($sunflower, 5);
  }
  &:focus, &.focus {
    background: darken($sunflower, 5);
    border-color:darken($sunflower, 5);
    box-shadow: 0 0 0 0.2rem rgba(255, 199, 44, 0.5)
  }
}
