// fonts
@font-face {
    font-family: 'proxima-nova-r';
    src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'proxima-nova-i';
    src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-regularit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'proxima-nova-b';
    src: url('https://ucdcdn.azureedge.net/public/media/fonts/proximanova-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: 'ryman';
    src: url('https://ucdcdn.azureedge.net/public/media/fonts/ryman-eco-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}


$sans-italic:   "proxima-nova-i",Arial,sans-serif;
$sans-bold:     "proxima-nova-b",Arial,sans-serif;
$sans-reg:      "proxima-nova-r",Arial,sans-serif;
$ryman:         "ryman",Georgia,serif;

$recpool:         #6FCFEB;
$tahoe:           #00B2E3;
$gunrock:         #0047BA;
$bodega:          #003A5D;

$rain:            #03F9E6;
$arboretum:       #00C4B3;
$putahcreek:      #008EAA;
$delta:           #00524C;

$farmersmarket:   #AADA91;
$sage:            #6CCA98;
$quad:            #3DAE2B;
$redwood:         #266041;

$goldenstate:     #FFFF3B;
$sunflower:       #FFDC00;
$poppy:           #F18A00;
$california:      #8A532F;

$rose:            #FF8189;
$strawberry:      #F93549;
$doubledecker:    #C10230;
$merlot:          #79242F;

$thiebauldicing:  #F095CD;
$redbud:          #C6007E;
$pinot:           #76236C;
$cabernet:        #481268;

$primary-color: $gunrock !default;
$secondary-color: $poppy !default;

$theme-colors: (
  blue: $gunrock,
  indigo: $cabernet,
  purple: $pinot,
  pink: $strawberry,
  red: $doubledecker,
  orange: $poppy,
  yellow: $sunflower,
  green: $quad,
  teal: $arboretum,
  cyan: $putahcreek,
  success: $quad,
  info: $recpool,
  warning: $sunflower,
  danger: $doubledecker,
  light: #f8f9fa,
  dark: #343a40
);

$primary-font: rgba(31,31,31,.99); //
$secondary-font: rgba(31,31,31,.80); //
$tertiary-font: rgba(31,31,31,.40); //
$primary-white: rgba(2545,2545,2545,.95); //
$secondary-white: rgba(2545,2545,2545,.80); //

$borders: #C8C7CC; // border color

$box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);

// breakpoints

@mixin breakpoint($point) {
    @if $point==sm {
        @media (min-width: 576px) {
            @content ;
        }
    }
    @if $point==md {
        @media (min-width: 768px) {
            @content ;
        }
    }
    @if $point==lg {
        @media (min-width: 992px) {
            @content ;
        }
    }
    @if $point==xl {
        @media (min-width: 1200px) {
            @content ;
        }
    }
    @if $point==smmax {
        @media (max-width: 576px) {
            @content ;
        }
    }
    @if $point==mdmax {
        @media (max-width: 768px) {
            @content ;
        }
    }
    @if $point==lgmax {
        @media (max-width: 992px) {
            @content ;
        }
    }
    @if $point==xlmax {
        @media (max-width: 1200px) {
            @content ;
        }
    }
}
