html {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    line-height: 1.5;
}
body {
    font-family: $sans-reg;
    color:$primary-font;
}
ul, ol {
  &.no-list-style {
    list-style-type: none;
    padding-left:0px;
    li {
    }
  }
}
.discreet {
  color:$tertiary-font;
}
p {
  line-height: 1.6;
}
