.btn {
  border: 0 none;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 0.5rem 1rem;
  box-shadow: $box-shadow;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0 none;
}

.btn.active,
.btn:active {
  box-shadow: none;
}

.btn-fancy {
  &:hover {
    color: #fff !important;
    transform: translateY(-1px);
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 3px 6px rgba(0,0,0,.08);
    background-color: lighten($primary-color, 5);
  }
}
