.btn {
  box-shadow: $box-shadow;
}

.btn.active:focus,
.btn:active:focus,
.btn:focus {
  outline: 0 none;
}

.btn.active,
.btn:active {
  box-shadow: none;
}
.btn-ridge {
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 1px 3px rgba(0,0,0,.08);
  &:hover, &:active, &:focus {
    box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.15) inset, 0 3px 6px rgba(0,0,0,.08);
  }
}
.btn-upward {
  &:hover {
    transform: translateY(-1px);
  }
}
